In [1]:
#Tarea 2 - Actividad 1

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
#Creamos una lista del 1 al 100 que se asociará a cada valor de las muestras generadas
nlist = list()
for i in range(1,101):
    nlist.append(i)

In [22]:
#Definimos la función que generará una lista de 100 números aleatorios en base al algoritmo
def ranNum(sem):
    x0 = sem
    ranList = list()
    for i in range(100):
        x = (5*x0 + 1)%16
        ranList.append(x)
        x0 = x
    return ranList

In [13]:
#Pedimos al usuario que de el valor de la primera semilla
print('Ingrese el valor de la primera semilla para generar la muestra aleatoria:', end = '')
semU1 = float(input())

Ingrese el valor de la primera semilla para generar la muestra aleatoria:27.6

In [14]:
#Pedimos al usuario que de el valor de la segunda semilla
print('Ingrese el valor de la segunda semilla para generar la muestra aleatoria:', end = '')
semU2 = float(input())

Ingrese el valor de la segunda semilla para generar la muestra aleatoria:73

In [42]:
#Pedimos al usuario que de el valor de la tercera semilla
print('Ingrese el valor de la tercera semilla para generar la muestra aleatoria:', end = '')
semU3 = float(input())

Ingrese el valor de la tercera semilla para generar la muestra aleatoria:153.5

In [43]:
#Generamos las muestras aleatorias
muestraAl1 = ranNum(semU1)
muestraAl2 = ranNum(semU2)
muestraAl3 = ranNum(semU3)

In [44]:
#Generamos un dataframe para cada muestra y obtener una tabla que será exportada a un archivo de datos
#Generamos listas de listas
data1 = {'n': nlist, 'x_n': muestraAl1}
data2 = {'n': nlist, 'x_n': muestraAl2}
data3 = {'n': nlist, 'x_n': muestraAl3}
data4 = {'n': nlist, 'x_n1': muestraAl1, 'x_n2': muestraAl2, 'x_n3': muestraAl3}
#Creamos los dataframes con las listas de listas creadas
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)

In [45]:
#Exportamos los dataframes en archivos de datos
#Creamos un archivo csv de los datos obtenidos
df1.to_csv('act1_muestra1.dat', sep =' ', index = False)
df2.to_csv('act1_muestra2.dat', sep =' ', index = False)
df3.to_csv('act1_muestra3.dat', sep =' ', index = False)
df4.to_csv('act1_muestras.dat', sep =' ', index = False)

In [46]:
df1

      n   x_n
0     1  11.0
1     2   8.0
2     3   9.0
3     4  14.0
4     5   7.0
..  ...   ...
95   96   2.0
96   97  11.0
97   98   8.0
98   99   9.0
99  100  14.0

[100 rows x 2 columns]

In [47]:
df2

      n   x_n
0     1  14.0
1     2   7.0
2     3   4.0
3     4   5.0
4     5  10.0
..  ...   ...
95   96   9.0
96   97  14.0
97   98   7.0
98   99   4.0
99  100   5.0

[100 rows x 2 columns]

In [48]:
df3

      n   x_n
0     1   0.5
1     2   3.5
2     3   2.5
3     4  13.5
4     5   4.5
..  ...   ...
95   96   9.5
96   97   0.5
97   98   3.5
98   99   2.5
99  100  13.5

[100 rows x 2 columns]

In [49]:
#Al observar los resultados de cada muestra, podemos decir que se genera una secuencia de números aleatorios que depende de la
#semilla utilizada, y que el tamaño de la secuencia corresponde al tamaño del módulo utilizado en el algoritmo